[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = {editable = true,git = "https://github.com/ev3dev/ev3dev-lang-python.git"}
uflash = "*"

[requires]
python_version = "3.5.3"
